## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns = ['EIN', 'NAME'], inplace=True)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
for i in application_df.columns:
    print(i, len(application_df[i].unique()))

APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = application_df['APPLICATION_TYPE'].value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_counts[app_counts<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [11]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [12]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().loc[lambda x : x >1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [13]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [16]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_df)

In [17]:
# Split our preprocessed data into our features and target arrays
X = application_dummies.drop('IS_SUCCESSFUL', axis=1).values
y = application_dummies['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [18]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [19]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train_scaled.shape[1]
hidden_nodes1=80
hidden_nodes2=30
hidden_nodes3=1

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes1, input_dim=input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5981 (23.36 KB)
Trainable params: 5981 (23.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [20]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [28]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7401 - val_loss: 0.5274 - val_accuracy: 0.7465
Epoch 2/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7410 - val_loss: 0.5277 - val_accuracy: 0.7467
Epoch 3/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5334 - accuracy: 0.7409 - val_loss: 0.5307 - val_accuracy: 0.7465
Epoch 4/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7409 - val_loss: 0.5311 - val_accuracy: 0.7444
Epoch 5/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5319 - accuracy: 0.7408 - val_loss: 0.5332 - val_accuracy: 0.7467
Epoch 6/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5361 - accuracy: 0.7405 - val_loss: 0.5314 - val_accuracy: 0.7451
Epoch 7/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5321 - accuracy: 0.7409 - val_loss: 0.5327 - val_accuracy: 0.7470
Epoch 8/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5316 - accuracy: 0.7409 - val_loss: 0.5355 - val_accuracy: 0.7437
Epoch 9/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5320 - accuracy: 0.7408 - val_loss: 0.5328 - val_accuracy: 0.7437
Epoch 10/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5315 - accuracy: 0.7412 - val_loss: 0.5348 - val_accuracy: 0.7444
Epoch 11/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5316 - accuracy: 0.7411 - val_loss: 0.5354 - val_accuracy: 0.7455
Epoch 12/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5313 - accuracy: 0.7411 - val_loss: 0.5367 - val_accuracy: 0.7459
Epoch 13/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7409 - val_loss: 0.5347 - val_accuracy: 0.7456
Epoch 14/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5318 - accuracy: 0.7411 - val_loss: 0.5362 - val_accuracy: 0.7451
Epoch 15/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5315 - accuracy: 0.7409 - val_loss: 0.5395 - val_accuracy: 0.7439
Epoch 16/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5332 - accuracy: 0.7408 - val_loss: 0.5370 - val_accuracy: 0.7430
Epoch 17/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5314 - accuracy: 0.7416 - val_loss: 0.5385 - val_accuracy: 0.7444
Epoch 18/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7407 - val_loss: 0.5351 - val_accuracy: 0.7456
Epoch 19/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7416 - val_loss: 0.5379 - val_accuracy: 0.7459
Epoch 20/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5316 - accuracy: 0.7407 - val_loss: 0.5368 - val_accuracy: 0.7458
Epoch 21/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5321 - accuracy: 0.7413 - val_loss: 0.5368 - val_accuracy: 0.7448
Epoch 22/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5313 - accuracy: 0.7404 - val_loss: 0.5392 - val_accuracy: 0.7441
Epoch 23/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5342 - accuracy: 0.7411 - val_loss: 0.5373 - val_accuracy: 0.7459
Epoch 24/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5320 - accuracy: 0.7410 - val_loss: 0.5367 - val_accuracy: 0.7464
Epoch 25/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5312 - accuracy: 0.7405 - val_loss: 0.5381 - val_accuracy: 0.7447
Epoch 26/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5310 - accuracy: 0.7406 - val_loss: 0.5434 - val_accuracy: 0.7437
Epoch 27/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5311 - accuracy: 0.7418 - val_loss: 0.5376 - val_accuracy: 0.7442
Epoch 28/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5315 - accuracy: 0.7414 - val_loss: 0.5396 - val_accuracy: 0.7451
Epoch 29/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5312 - accuracy: 0.7413 - val_loss: 0.5398 - val_accuracy: 0.7431
Epoch 30/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5314 - accuracy: 0.7411 - val_loss: 0.5394 - val_accuracy: 0.7455
Epoch 31/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7400 - val_loss: 0.5394 - val_accuracy: 0.7448
Epoch 32/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5310 - accuracy: 0.7410 - val_loss: 0.5401 - val_accuracy: 0.7453
Epoch 33/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5307 - accuracy: 0.7409 - val_loss: 0.5395 - val_accuracy: 0.7441
Epoch 34/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5309 - accuracy: 0.7415 - val_loss: 0.5410 - val_accuracy: 0.7455
Epoch 35/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5304 - accuracy: 0.7415 - val_loss: 0.5423 - val_accuracy: 0.7433
Epoch 36/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7408 - val_loss: 0.5398 - val_accuracy: 0.7433
Epoch 37/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5305 - accuracy: 0.7406 - val_loss: 0.5424 - val_accuracy: 0.7436
Epoch 38/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5305 - accuracy: 0.7406 - val_loss: 0.5414 - val_accuracy: 0.7447
Epoch 39/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5310 - accuracy: 0.7420 - val_loss: 0.5408 - val_accuracy: 0.7450
Epoch 40/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5312 - accuracy: 0.7416 - val_loss: 0.5389 - val_accuracy: 0.7451
Epoch 41/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5308 - accuracy: 0.7410 - val_loss: 0.5394 - val_accuracy: 0.7450
Epoch 42/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7406 - val_loss: 0.5401 - val_accuracy: 0.7441
Epoch 43/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5310 - accuracy: 0.7420 - val_loss: 0.5422 - val_accuracy: 0.7445
Epoch 44/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5311 - accuracy: 0.7413 - val_loss: 0.5409 - val_accuracy: 0.7458
Epoch 45/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5302 - accuracy: 0.7410 - val_loss: 0.5418 - val_accuracy: 0.7448
Epoch 46/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5304 - accuracy: 0.7416 - val_loss: 0.5407 - val_accuracy: 0.7453
Epoch 47/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5312 - accuracy: 0.7410 - val_loss: 0.5417 - val_accuracy: 0.7451
Epoch 48/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5315 - accuracy: 0.7415 - val_loss: 0.5418 - val_accuracy: 0.7442
Epoch 49/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5307 - accuracy: 0.7416 - val_loss: 0.5399 - val_accuracy: 0.7431
Epoch 50/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5307 - accuracy: 0.7421 - val_loss: 0.5567 - val_accuracy: 0.7442
Epoch 51/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7415 - val_loss: 0.5423 - val_accuracy: 0.7433
Epoch 52/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5308 - accuracy: 0.7414 - val_loss: 0.5400 - val_accuracy: 0.7439
Epoch 53/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5305 - accuracy: 0.7413 - val_loss: 0.5429 - val_accuracy: 0.7430
Epoch 54/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5317 - accuracy: 0.7416 - val_loss: 0.5438 - val_accuracy: 0.7425
Epoch 55/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5310 - accuracy: 0.7413 - val_loss: 0.5436 - val_accuracy: 0.7451
Epoch 56/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5322 - accuracy: 0.7403 - val_loss: 0.5422 - val_accuracy: 0.7439
Epoch 57/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5321 - accuracy: 0.7404 - val_loss: 0.5406 - val_accuracy: 0.7439
Epoch 58/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5303 - accuracy: 0.7417 - val_loss: 0.5410 - val_accuracy: 0.7430
Epoch 59/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5300 - accuracy: 0.7408 - val_loss: 0.5407 - val_accuracy: 0.7444
Epoch 60/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5303 - accuracy: 0.7413 - val_loss: 0.5397 - val_accuracy: 0.7450
Epoch 61/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5304 - accuracy: 0.7410 - val_loss: 0.5404 - val_accuracy: 0.7434
Epoch 62/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5305 - accuracy: 0.7414 - val_loss: 0.5409 - val_accuracy: 0.7442
Epoch 63/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5300 - accuracy: 0.7414 - val_loss: 0.5419 - val_accuracy: 0.7437
Epoch 64/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5304 - accuracy: 0.7422 - val_loss: 0.5436 - val_accuracy: 0.7428
Epoch 65/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5309 - accuracy: 0.7405 - val_loss: 0.5435 - val_accuracy: 0.7442
Epoch 66/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5310 - accuracy: 0.7411 - val_loss: 0.5426 - val_accuracy: 0.7439
Epoch 67/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5299 - accuracy: 0.7412 - val_loss: 0.5432 - val_accuracy: 0.7453
Epoch 68/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5307 - accuracy: 0.7416 - val_loss: 0.5415 - val_accuracy: 0.7436
Epoch 69/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5303 - accuracy: 0.7421 - val_loss: 0.5430 - val_accuracy: 0.7441
Epoch 70/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5302 - accuracy: 0.7412 - val_loss: 0.5429 - val_accuracy: 0.7439
Epoch 71/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5304 - accuracy: 0.7411 - val_loss: 0.5422 - val_accuracy: 0.7448
Epoch 72/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5312 - accuracy: 0.7411 - val_loss: 0.5434 - val_accuracy: 0.7430
Epoch 73/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5302 - accuracy: 0.7422 - val_loss: 0.5432 - val_accuracy: 0.7445
Epoch 74/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5308 - accuracy: 0.7411 - val_loss: 0.5420 - val_accuracy: 0.7447
Epoch 75/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5301 - accuracy: 0.7415 - val_loss: 0.5427 - val_accuracy: 0.7437
Epoch 76/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5307 - accuracy: 0.7411 - val_loss: 0.5458 - val_accuracy: 0.7441
Epoch 77/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5301 - accuracy: 0.7415 - val_loss: 0.5445 - val_accuracy: 0.7434
Epoch 78/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5305 - accuracy: 0.7423 - val_loss: 0.5440 - val_accuracy: 0.7445
Epoch 79/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5301 - accuracy: 0.7415 - val_loss: 0.5436 - val_accuracy: 0.7433
Epoch 80/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5306 - accuracy: 0.7404 - val_loss: 0.5456 - val_accuracy: 0.7444
Epoch 81/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5303 - accuracy: 0.7414 - val_loss: 0.5446 - val_accuracy: 0.7444
Epoch 82/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5307 - accuracy: 0.7408 - val_loss: 0.5435 - val_accuracy: 0.7444
Epoch 83/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5302 - accuracy: 0.7416 - val_loss: 0.5441 - val_accuracy: 0.7444
Epoch 84/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5305 - accuracy: 0.7416 - val_loss: 0.5433 - val_accuracy: 0.7448
Epoch 85/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5303 - accuracy: 0.7414 - val_loss: 0.5448 - val_accuracy: 0.7451
Epoch 86/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5301 - accuracy: 0.7413 - val_loss: 0.5431 - val_accuracy: 0.7445
Epoch 87/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5307 - accuracy: 0.7416 - val_loss: 0.5458 - val_accuracy: 0.7425
Epoch 88/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5304 - accuracy: 0.7416 - val_loss: 0.5466 - val_accuracy: 0.7430
Epoch 89/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5305 - accuracy: 0.7408 - val_loss: 0.5442 - val_accuracy: 0.7427
Epoch 90/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5301 - accuracy: 0.7418 - val_loss: 0.5455 - val_accuracy: 0.7437
Epoch 91/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5306 - accuracy: 0.7417 - val_loss: 0.5469 - val_accuracy: 0.7434
Epoch 92/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5299 - accuracy: 0.7415 - val_loss: 0.5451 - val_accuracy: 0.7448
Epoch 93/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5306 - accuracy: 0.7414 - val_loss: 0.5479 - val_accuracy: 0.7433
Epoch 94/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5302 - accuracy: 0.7418 - val_loss: 0.5436 - val_accuracy: 0.7436
Epoch 95/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5301 - accuracy: 0.7409 - val_loss: 0.5473 - val_accuracy: 0.7441
Epoch 96/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5309 - accuracy: 0.7416 - val_loss: 0.5465 - val_accuracy: 0.7422
Epoch 97/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5301 - accuracy: 0.7411 - val_loss: 0.5457 - val_accuracy: 0.7425
Epoch 98/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5298 - accuracy: 0.7412 - val_loss: 0.5475 - val_accuracy: 0.7419
Epoch 99/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5302 - accuracy: 0.7410 - val_loss: 0.5461 - val_accuracy: 0.7437
Epoch 100/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5298 - accuracy: 0.7415 - val_loss: 0.5525 - val_accuracy: 0.7427

In [29]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6048 - accuracy: 0.7245 - 374ms/epoch - 1ms/step
Loss: 0.6047778129577637, Accuracy: 0.7245481014251709

In [30]:
# Export our model to HDF5 file
nn.save('../AlphabetSoupCharity_Optimization.h5')

c:\Users\Asus\anaconda3\lib\site-packages\keras\src\engine\training.py:2990: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(